.firstBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../img/fons/fon1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.block-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.firstBlock-shapes {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.firstBlock-shapes object:first-of-type {
  position: absolute;
  width: 110%;
  bottom: 0;
}

.firstBlock-shapes object {
  width: 110%;
}

.decor__baloons1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -35px;
}

.decor__baloons1 img {
  width: 200px;
  transform: rotate(-30deg);
}
