.mickeyWrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 207, 215);
    z-index: 3;
    padding-top: 80px;
    position: relative;

    background: url('../img/fons/fon2.jpg') repeat-y;
}
.mickeyBlock{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mickeyList{
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        svg{
            width: 20px;
            height: 20px;
            fill: $color;
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
}