.mickeyWrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 207, 215);
    z-index: 3;
    padding-top: 80px;
    position: relative;


    background: url('../img/fons/fon2.jpg') repeat-y;
}
.mickeyBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 900px;
    width: 100%;
    margin: 0 auto 10px;
    @include _m(530){
        flex-direction: column;
    }
}
.mickeyList{
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 30px;
        color: $colorLight;
        svg{
            width: 20px;
            height: 20px;
            fill: $color;
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
    @include _m(400){
        z-index: 20;
    }
}
.mickeyPhoto{
    z-index: 2;
    @include _m(400){
        & img{
            height: 300px;
        }
    }
}
.mickey__decorShapes{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: -90px;
    overflow: hidden;
    z-index: 1;
    object{
        width: 105%;
        margin: 0 auto;
        svg{
            height: 10%;
        }
  
    }
    @include _m(400){
        bottom: -10px;
    }
}
.mickey__baloonWrapper{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

}
.mickey__baloon{
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 300px;
}