
.priceWrapper{

    background-color: rgb(252, 207, 215);
    background: url('../img/fons/fon-main.jpg') repeat-y;
    background-size: cover;
}
.priceWrapper{
    position: relative;
    padding-top: 30px;
    z-index: 5;

    
    &__decorShapes{
        position: absolute;
        overflow: hidden;
        top: -30px;
        width: 100%;
        object{
            width: 110%;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.404));
        }
    }
    &__decorShapes2{
        position: absolute;
        overflow: hidden;
        bottom: -70px;
        width: 100%;

        &--bottom{
            position: absolute;
            bottom: -160px;
            z-index: 1;
            width: 100%;
            overflow: hidden;
            object{
                width: 110%;

            }
        }
        object{
            width: 110%;
            height: 150px;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.404));
            svg{
                height: 100%;
                width: 100%;
            }
        }
    }
}
.priceBlock{
    display: flex;
    max-width: 900px;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    z-index: 3;


    .mainButton{
        margin: 10px auto 40px;
    }

}
.priceList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include _m(640){
        justify-content: space-around;  
    }
}
.priceItem{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    position: relative;


    &:hover{
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
        .priceItem__name{
            background: $color;
        }
        .priceItem__photo{
            transform: scale(1.04);
        }
  
    }
    @include _m(440){
        width: 45%;   
    }



    &__name{
        padding: 10px 20px;
        background: $colorPink;
        color: white;
        font-size: 20px;
        z-index: 1;

    }
    &__cost{
        display: flex;
        justify-content: flex-end;
        color:$color;
        font-size: 18px;
        padding: 10px 20px;
        transition: transform ease .2s;
    }
    &__photo{
        height: 200px;
        object-fit: cover;
        z-index: 0;
        transition: transform ease .2s;
        @include _m(440){
            width: 100%;
            height: auto;
        }
    }


}

.priceBlock-shapes{
    position: absolute;
    z-index: 1;
    bottom: 50%;
    transform: translate(0, 50%);
    width: 100%;
    overflow: hidden;
    object:first-of-type{
      position: absolute;
      width: 110%;
    }
    object{
      width: 110%;
    }
  }

  .fonItem2{
      position: absolute;
      left: -100px;
      top: -150px;
      transform: rotate(20deg)
  }
  .fonItem2-1{
      position: absolute;
      bottom: 20px;
      overflow: hidden;
      width: 100%;
      height: 50%;
      img{
        top: 200px;
        right: -40px;
        position: absolute;
        transform: rotate(-20deg)
      }
  }
