.cityLocation{
    display: flex;
    align-items: center;
}

.cityLocation svg{
    fill: $colorLight;
    width: 25px;
    height: 30px;
    margin-right: 5px;
}
.cityLocation span{
    font-size: 18px;
    font-weight: bold;
    color: $colorLight;
}