.contacts{
    display: flex;
    align-items: center;
    @include _m(530){
        flex-direction: column;
    }
    @include _m(380){
        align-items: flex-end;
    }
}
.phone{
    font-size: 25px;
    font-weight: bold;
    color: $color;
    margin-right: 10px;
    text-decoration: none;
    @include _m(380){
        margin-right: 0;
    }
}