.extraService{

    flex-grow: 1;
    z-index: 10;
    position: relative;
    @include _m(680) {
        margin-top: 180px;
        align-self: flex-end;

    }
    @include _m(680) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: -80px;

    }
        &__title{
            display: flex;
            flex-direction: column;
            width: fit-content;
            align-self: center;
            justify-self: center;
            margin: 0 auto;
            padding: 5px 10px;
            background: white;
            color: $colorLighter;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            z-index: 3;
            box-shadow: 2px 2px 5px #444444bb;
            white-space: nowrap;
            & span {
                font-size: 18px;
            }

            @include _m(800) {
                font-size: 20px;

            }

        }
        &__mickey{
            display: flex;
            object {
            width: 200px;
            margin: 0 auto -15px;
            z-index: 2;
            @include _m(1000){
                // width: 150px;
            }
            @include _m(800){
                width: 150px;
            }
            }
       
        }
        .mainButton{
            margin: 0 auto;
            z-index: 10;
        }
 
}