.features{
    align-self: self-start;
    padding-top: 50px;
    &__item{
        display: flex;
        align-items: center;
        font-size: 27px;
        font-weight: bold;
        color: $colorDark;
        text-transform: uppercase;
        flex-shrink: 0;
        white-space: nowrap;
        & svg{
            width: 30px;
            height: 40px;
            flex-shrink: 0;
            margin-right: 10px;
            fill: $colorDark;
        }
    }
}