.features{
    &__item{
        display: flex;
        align-items: center;
        font-size: 25px;
        text-transform: uppercase;
        & svg{
            width: 30px;
            height: 40px;
        }
    }
}