.features{
    align-self: self-start;
    padding-top: 50px;
    @include _m(680){
        padding-top: 0px;

    }


    &__item{
        display: flex;
        align-items: center;
        font-size: 27px;
        font-weight: bold;
        color: $colorDark;
        text-transform: uppercase;
        flex-shrink: 0;
        white-space: nowrap;
        @include _m(800){
            font-size: 22px;
            white-space:normal;
        }
        & svg{
            width: 30px;
            height: 40px;
            flex-shrink: 0;
            margin-right: 10px;
            fill: $colorDark;
        }
    }
}