footer{
    background: $color;
    color: white;
}
.footerblock{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @include _m(1100){
        padding: 20px 10px;
    }

    .phone{
        color: white;
    }
}