.menu{
    display: inline-flex;
    justify-self: center;
    &__item{
        padding: 8px 20px;
        font-size: 25px;
        font-weight: bold;
        color: $colorLighter;
        text-decoration: none;
        border-right: 2px solid $colorLighter;
        transition: all ease .2s;
        :last-of-type{
        border-right: none;
        }
        &:hover{
            background: $color;
            color: white;
        }
    }
}
