@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "bebas";
  // адрес шрифта и тип
  src: url("../css/fonts/bebasRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "bebas";
  // адрес шрифта и тип
  src: url("../css/fonts/bebasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*{
  font-family: "bebas";
}

body{
  font-family: sans-serif;

}
.block{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

$color: #8e2d7d;
$colorPink: #e18dd2;
$colorLight: #7e4674;
$colorLighter: #bb1d9f;
$colorDark: #652359;

@import 'normalize';
@import 'header';
@import 'menu';
@import 'social';
@import 'contacts';
@import 'cityLocation';
@import 'features';
@import 'mainButton';
@import 'extraService';
@import 'blockFirst';
@import 'blockPrices';
@import 'blockSets';
@import 'blockSets';
@import 'blockMickey';
@import 'blockFeedbacks';
@import 'blockGuideline';
@import 'footer';




.secondHeader{
  display: inline-flex;
  padding: 10px 30px;
  font-size: 35px;
  color: $colorLight;
  font-weight: bold;
  background-color: white;
  margin: 0 auto;
  justify-self: center;
  margin-bottom: 20px;
}
